html {
    background: rgb(94,34,195);
    background: linear-gradient(294deg, rgba(94,34,195,1) 9%, rgba(253,187,45,1) 70%);
}
h1 {
    color: rgb(0, 22, 88); 
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bolder;
    font-variant: small-caps;
    text-align: center;
    text-shadow: 15px;
    text-underline-position: below;

}
ul {
color:rgb(0, 22, 88);
font-family: 'Times New Roman', Times, serif;
font-size: 30px;
font-weight: bold;
}